@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
* {
    font-family: 'Quicksand', sans-serif;
}

.convert,
.account,
.logout,
.profile,
.setting,
.all-cards,
.homepage,
.transac {
    /* width: 95%; */
    position: relative;
    width: 100%;
    height: 100vh;
}


/* header designs */

.appbar {
    height: 8vh;
    width: 100%;
    position: relative;
    left: 10px;
    /* border-bottom: 1px solid rgb(245, 222, 6); */
    border-bottom: 1px solid rgb(245, 222, 6) !important;
    overflow: hidden;
}

.appbar:hover {
    background: #fff !important;
}

.text,
.side {
    margin: 10px;
}

.text {
    position: relative;
    right: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text h3 {
    font-size: 24px;
    text-transform: capitalize;
    color: #67665E;
    line-height: 30px;
}

.side {
    position: absolute;
    left: 80%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #C4C4C4;
}

.circle,
.side p {
    margin: 0 5px;
}

.side p {
    font-size: 16px;
    text-transform: capitalize;
    color: #3A3A3A;
    line-height: 20px;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.header-bar {
    display: none;
}


/* End header designs */


/* convert card design */

.carb {
    width: 60%;
    height: 350px;
    display: flex;
    margin-top: -100px;
    transform: translate(40%, 50%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 30px;
}

.send {
    width: 50%;
    padding: 10px;
}

.send p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
    margin-bottom: 8px;
}

.transfer {
    position: relative;
    top: 10vh;
}

.figure {
    background: rgba(239, 239, 239, 0.5);
    width: 80%;
    display: flex !important;
    color: rgba(58, 58, 58, 1);
    font-size: 34px;
    font-weight: bold;
    line-height: 42px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.figure input {
    width: 100%;
    height: inherit;
    border: none;
    background: rgba(239, 239, 239, 0.5);
}

.dollar {
    background: rgba(239, 239, 239, 1);
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.dollar p {
    color: rgba(103, 102, 94, 1);
}

.dollar del {
    text-decoration-style: double;
}

.dollar img {
    margin-top: 10px;
    margin-left: 5px;
}

.middle {
    display: flex;
    border: none;
    height: 100px;
}

.drop {
    /* display: flex; */
    justify-content: space-between;
    margin-top: 40px;
}

hr {
    width: 100%;
}

.kyc-show {
    border: 1px solidd red !important;
}


/* button {
    position: absolute;
    left: 100px;
    width: 128px;
    height: 50px;
    border-radius: 5px !important;
    background: #F5DE06;
    color: #fff;
} */

select {
    border: 1px solid gray;
    background: transparent;
    border: none;
    text-align: center;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}


/* End convert card design */


/* Popup design */

.popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -5px;
    background: rgba(200, 200, 200, 0.3);
    transition: 350ms;
}

.color {
    background: #fff;
    width: 632px;
    height: 550px;
    z-index: 10;
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 30%;
    padding: 20px;
}


/* .clear-con {
    border: 1px solid red;
} */

.clear-con p {
    font-size: 20px;
    line-height: 25px;
    margin-top: 20px;
}

.clear {
    cursor: pointer;
    position: absolute;
    left: 95%;
    width: 11px;
    height: 35px;
    color: rgba(58, 58, 58, 1);
}

.amount {
    background: rgba(239, 239, 239, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}

.amount p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    margin-top: 0px;
}

.amount p:first-child {
    margin-bottom: 5px;
    margin-top: 10px;
}

.amount p:last-child {
    font-weight: 600;
    font-size: 24px;
}

.details {
    background: rgba(239, 239, 239, 0.5);
    margin-top: 20px;
    padding: 20px;
    width: 100%;
}

.danger {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 14px;
    color: rgba(228, 87, 87, 1);
    text-align: center;
    margin-top: 10px;
}

.but {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bnt {
    background: rgba(245, 222, 6, 1);
    height: 7vh;
    width: 50%;
    display: flex;
    position: relative;
    right: 40%;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 5px;
}

.clear-con P {
    text-align: left;
}

.upload {
    position: absolute;
    right: -20%;
    top: 40vh;
    width: 20vw;
}

.sub-con {
    position: relative;
    top: -50px;
    background: #fff;
    width: 30vw;
    height: 50vh;
    padding: 30px;
}

.sub-con p {
    margin-top: 20px;
}

input {
    width: 100%;
}

.camera {
    position: relative;
    left: 140%;
    height: 20px;
    width: 20px;
}

input[type="file"] {
    display: none;
    width: 100%;
}

.upload-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.file {
    margin-top: 35px;
}

.btn-upload {
    background: #F5DE06;
    width: 30%;
    height: 40px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 30px;
}


/* Popup design */


/* Alert design */

.contain {
    width: 30vw;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.alert {
    
    /* position: absolute;
    top: -50vh;
    left: 70%; */
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFCE1;
}

@media screen and (min-width: 758px) {
    
    .alert {
        width: 100%;
    }
}

.alert p {
    font-size: 14px;
    margin-top: 10px;
    color: #FF842B;
    width: 80%;
}

.btn-alert {
    background: #FF842B;
    width: 30%;
    height: 40px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 10px;
}

.btn-alert:hover {
    background: #FF842B;
}

a {
    width: 100%;
    text-decoration: none !important;
}


/* End of Alert design */


/* Account card design */

.card {
    position: absolute;
    left: 35%;
    top: 20vh;
    width: 818px;
    height: 317px;
    border: 1px solid red;
}

.card-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    height: 30px;
    /* border: 1px solid red; */
}

.card-content p {
    font-size: 16px;
    line-height: 20px;
}

.card-content p:first-child {
    color: #F5DE06;
}

.card-content p:last-child {
    color: #C4C4C4;
}

.card hr {
    width: 40%;
    position: absolute;
    top: 25px;
    color: #F5DE06;
    border: 1px solid;
}

.card-image {
    background-color: rgba(239, 239, 239, 0.5);
    width: 254px;
    height: 136px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-image img {
    width: 13px;
    height: 13px;
    margin-bottom: 10px;
    cursor: pointer;
}

.card-image p {
    font-size: 16px;
    line-height: 20px;
}

.display_cards {
    display: flex;
    flex-direction: row;
    border: solid red;
}


/* End of Account card design */


/* Card details design */

.done {
    width: 40%;
    position: absolute;
    top: 70px;
    right: 20%;
    height: 70vh;
    border: 1px solid rgb(216, 215, 215);
    background: #fff;
    padding: 20px;
    z-index: 10;
}

.done label {
    background: #fff;
    margin-top: 20px;
    font-weight: bold;
}

.done button {
    margin-top: 20px;
}

.butt {
    background: #F5DE06;
    width: 25%;
    height: 40px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 30px;
    border: none;
}

.clr {
    position: absolute;
    right: 30px;
}


/* .dynamic {
    border: 1px solid red;
    width: 20%;
    height: 10vh;
} */


/* End Card details design */

.container {
    position: absolute;
    top: 40px;
    left: 50%;
}

.headto {
    position: absolute;
    top: 50vh;
    left: 5%;
    border: 1px solid rgb(218, 215, 215);
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media only screen and (max-width: 768px) {
    .transac {
        position: relative;
        width: 100%;
        overflow-x: hidden;
        left: 0;
    }
    .headto {
        top: 90px;
        width: 100%;
    }
    .main-convert {
    
    }


    .sub-con {
        width: 100%;
    }
}



@media screen and (max-width: 1200px) {
    .account,
    .logout,
    .profile,
    .setting,
    .all-cards,
    .homepage,
    .convert {
        width: 100%;
        left: -4%;
    }
    .appbar {
        width: 100%;
        left: 0;
    }
    .text {
        left: 20%;
    }
    .text h3 {
        font-size: 18px;
        margin-left: 20px;
    }
    .side {
        position: relative;
        left: 10px;
        display: none;
    }
    .transfer {
        display: none;
    }
    .bnt {
        left: 20%;
    }
    .carb {
        width: 100%;
        height: 105vh;
        transform: none;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
    .send {
        width: 100%;
        ;
    }
    /* Header design */
    .header-bar {
        display: initial;
        margin-right: 20px;
        position: relative;
        right: 15%;
        font-size: 1.5rem;
    }
    /* End of Header design */
    /* first popup design */
    .color {
        width: 100%;
        left: 0;
        height: 100vh;
    }
    /* first popup design */
    /* second popup design */
    .upload {
        width: 100%;
        position: absolute !important;
        left: 0% !important;
    }
    
    /* alert */
    .contain {
        
    }
    /* alert */
}



