.transacConvert, .transacwithdraw, .transacDeposit, .transacPayment {
    color: #ff9800;

}

/* .transacConvert:hover, .transacwithdraw:hover, .transacDeposit:hover, .transacPayment:hover {
    color: #ff9800 !important;
    transition: all .5s ease-out;

} */

.TransacSelect {
    display: none;
}

.transaComponent {
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 600px){
    .TransacSelect {
        display: initial;
        position: relative;
        top: 15px;
        bottom: 30px;
    }

    .transaComponent {
        display: none;
    }
   
}